*.o
definitions.hpp
huggle.pro
hunker/*.o
hunker/Makefile
hunker/makefilehunker
version.txt
*.autosave
/huggle.pro.user

/release
/debug
/packaging/output
/packaging/.appimage-build
/packaging/.AppDir
/packaging/.rpm-build
/debian/build
/debian/.debhelper
/debian/huggle
/debian/files
/debian/debhelper-build-stamp
/debian/*.debhelper.log
/debian/*.substvars
