[submodule "huggle/extension_list/mass-delivery"]
	path = huggle/extension_list/mass-delivery
	url = http://github.com/huggle/mass-delivery
[submodule "huggle/extension_list/enwiki"]
	path = huggle/extension_list/enwiki
	url = http://github.com/huggle/enwiki
[submodule "huggle/extension_list/extension-thanks"]
	path = huggle/extension_list/extension-thanks
	url = http://github.com/huggle/extension-thanks
[submodule "huggle/extension_list/extension-splitter-helper"]
	path = huggle/extension_list/extension-splitter-helper
	url = http://github.com/huggle/extension-splitter-helper
[submodule "huggle/extension_list/extension-review"]
	path = huggle/extension_list/extension-review
	url = http://github.com/huggle/extension-review
[submodule "huggle/extension_list/extension-mass-delete"]
	path = huggle/extension_list/extension-mass-delete
	url = http://github.com/huggle/extension-mass-delete
[submodule "huggle/extension_list/extension-scoring"]
	path = huggle/extension_list/extension-scoring
	url = http://github.com/huggle/extension-scoring
[submodule "libs/libirc"]
	path = libs/libirc
	url = http://github.com/grumpy-irc/libirc
